[core]
  excludesfile = ~/.config/git/globignore
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[include]
  path = ~/.config/git/private/config
[includeIf "gitdir:~/Work/excorp/"]
  path = ~/.config/git/excorp/config
[includeIf "gitdir:~/Work/pspod/"]
  path = ~/.config/git/pspod/config
[pull]
  rebase = true
[credential]
  helper = store
[init]
  defaultBranch = main
