Xcursor.theme: Breeze_Snow

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! colors
! light mode
! *.cursorColor:  #282828
! *.background: #f2e5bc
! *.foreground: #3c3836
! dark mode
*.cursorColor:  #ebdbb2
*.background: #282828
*.foreground: #ebdbb2

! Black + DarkGrey
*.color0:  #fdf4c1
*.color8:  #928374
! DarkRed + Red
*.color1:  #cc241d
*.color9:  #9d0006
! DarkGreen + Green
*.color2:  #98971a
*.color10: #79740e
! DarkYellow + Yellow
*.color3:  #d79921
*.color11: #b57614
! DarkBlue + Blue
*.color4:  #458588
*.color12: #076678
! DarkMagenta + Magenta
*.color5:  #b16286
*.color13: #8f3f71
! DarkCyan + Cyan
*.color6:  #689d6a
*.color14: #427b58
! LightGrey + White
*.color7:  #7c6f64
*.color15: #3c3836
! 256 color resources
*.color24:  #076678
*.color66:  #427b58
*.color88:  #9d0006
*.color96:  #8f3f71
*.color100: #79740e
*.color108: #8ec07c
*.color109: #83a598
*.color130: #af3a03
*.color136: #b57614
*.color142: #b8bb26
*.color167: #fb4934
*.color175: #d3869b
*.color208: #fe8019
*.color214: #fabd2f
*.color223: #ebdbb2
*.color228: #f4e8ba
*.color229: #fdf4c1
*.color230: #ffffc8
*.color234: #1d2021
*.color235: #282828
*.color236: #32302f
*.color237: #3c3836
*.color239: #504945
*.color241: #665c54
*.color243: #7c6f64
*.color244: #928374
*.color245: #928374
*.color246: #a89984
*.color248: #bdae93
*.color250: #d5c4a1

! rofi theme
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: argb:d0282828, #a89984, #a89984
!                  bg             fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: argb:d0282828, #ebdbb2, argb:d032302f, #665c54, #fbf1c7
rofi.color-active: argb:d0d79921, #282828, argb:d0d79921, #fabd2f, #282828
rofi.color-urgent: argb:d0cc241d, #282828, argb:d0cc241d, #fb4934, #282828

rofi.separator-style: solid
rofi.opacity: 20
rofi.hide-scrollbar: true

rofi.location:          0
!rofi.color-enabled:     true
!'background', 'border'
